<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">

        <title>Social Network — Admin</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/admin.css') }}">
        <script src="{{ url_for('static', filename='admin.js') }}"></script>
        <script>
            const apiKey = "{{ apiKey }}"
        </script>
    </head>
    <body>
        <div id="state-numbers"></div>

        <p id="sim-active">Simulation Active: false</p>
        <p id="sim-time">Step Time Left: 0:00</p>
        <p id="step">Step 0</p>

        <button onclick="refresh()">Refresh Table</button>
        <button onclick="toggleVisible('agent-table')">Show API Key Table</button>
        <button id="pause" onclick="pauseSimulation(); refresh()">Pause</button>
        <button id="resume" onclick="resumeSimulation(); refresh()">Resume</button>

        <table id="agent-table">
            <tr>
                <th>API Key</th>
                <th>In Use</th>
                <th>Ready</th>
                <th>Node ID</th>
                <th>Name</th>
                <th>Approval</th>
                <th>Last Belief State</th>
            </tr>
        </table>

        <button onclick="refresh(); stop()">End Simulation</button>
        
    </body>
</html>