<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">

        <title>Social Network</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">

        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </head>

    <body>
        <div id="content">
            <div class="flat-div">
                <p id="likes-count">0 likes (+0)</p>
                <p id="step">Round 0</p>
            </div>
            
            <div id="feed-div">
                <table id="feed"></table>
            </div>
            
            <div id="belief-state-expression" class="flat-div">
                <p>Post:</p>
            </div>
            
            <div>
                <p id="time-and-ready">0:00 left in the round and 0/24 people are ready</p>
                <label for="ready">Ready?</label>
                <input type="checkbox" id="ready" name="ready">

            </div>
        </div>


        <div id="api-key-input">
            <label for="api-key-input">Access Code:</label>
            <input type="text" id="api-key-input-box" name="api-key-input">
            <button id="api-key-connect" onclick="setAPIKey()">Connect</button>
        </div>
    </body>
</html>