<!DOCTYPE html>
<html>
    <head>
        <title>Social Network</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">

        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </head>

    <body>
        <div id="content">
            <div id="score">0</div>

            <div id="belief-state-expression"></div>

            <div id="feed-div">
                <table id="feed"></table>
            </div>

            <div>
                <input type="checkbox" id="ready" name="ready">
                <label for="ready">Ready!</label>
            </div>

            <button onclick="clearAPIkey()">Reset API Key</button>
        </div>
    </body>
</html>