<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">

        <title>Social Network -- Simulation Setup</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/admin.css') }}">
        <script src="{{ url_for('static', filename='simulation_setup.js') }}"></script>
        <script>
            const apiKey = "{{ apiKey }}"
        </script>
    </head>
    <body>
        <form id="setup-form">

        </form>
        <button onclick="submitForm();">Create Simulation</button>

        <a href="/admin/{{ apiKey }}">Admin Dashboard</a>
    </body>
</html>