body {
    text-align: center;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    font-size: 3rem;
}

select {
    font-size: 3rem;
    padding: 1rem;
    margin: 1rem;
}


input[type="checkbox"] {
    width: 3rem;
    height: 3rem;
}

div {
    margin-top: 1rem;
}


#belief-state-expression {
    display: flex;
    justify-content: space-around;
}

#feed-div {
    height: 30%;
}

#content {
    font-size: 3rem;
}